
{% if app.session.flashBag.has('info') %}
    <div class="alert alert-info peterriver">
        <div class="alert-close"><i class="icon-remove"></i></div>
        {% for msg in app.session.flashBag.get('info') %}
            <p class="alert-message">{{ msg }}</p>
        {% endfor %}
    </div>
{% endif %}

{% if app.session.flashBag.has('error') %}
    <div class="alert alert-error alizarin">
        <div class="alert-close"><i class="icon-remove"></i></div>
        {% for msg in app.session.flashBag.get('error') %}
            <p class="alert-message">{{ msg }}</p>
        {% endfor %}
    </div>
{% endif %}

{% if app.session.flashBag.has('warning') %}
    <div class="alert alert-warning alizarin">
        <div class="alert-close"><i class="icon-remove"></i></div>
        {% for msg in app.session.flashBag.get('warning') %}
            <p class="alert-message"></p>{{ msg }}
        {% endfor %}
    </div>
{% endif %}

{% if app.session.flashBag.has('success') %}
    <div class="alert alert-success turquoise">
        <div class="alert-close"><i class="icon-remove"></i></div>
        {% for msg in app.session.flashBag.get('success') %}
            <p class="alert-message">{{ msg }}</p>
        {% endfor %}
    </div>
{% endif %}
