{% include '_header.twig' %}

<section>

    <div class="colored-stripe turquoise">
        <div id='mySwipe' style='max-width:960px; margin:0 auto;' class='swipe'>
            <!-- Swipe Wrap -->
            <div class='swipe-wrap'>
                <!-- Slide 1 -->
                <div class="slide">
                    <div class="grid-container">
                        <!-- Icon Container -->
                        <div class="grid-40">
                            <p class="big-icon">
                                <i class="icon-desktop"></i>
                            </p>
                        </div>
                        <!-- End Icon Container -->

                        <!-- Presentation Container -->
                        <div class="grid-40 push-15">
                            <div class="presentation">
                                <h2 class="presentation-title">Glenda, the rabbit</h2>
                                <p class="presentation-text">Glenda is the mascot of Plan 9 operating system.</p>
                            </div>
                        </div>
                        <!-- End Presentation Container -->
                    </div>
                </div>
                <!-- End Slide 1 -->

                <!-- Slide 2 -->
                <div class="slide">
                    <div class="grid-container">
                        <!-- Icon Container -->
                        <div class="grid-40">
                            <p class="big-icon">
                                <i class="icon-repeat"></i>
                            </p>
                        </div>
                        <!-- End Icon Container -->

                        <!-- Presentation Container -->
                        <div class="grid-40 push-15">
                            <div class="presentation">
                                <h2 class="presentation-title">Go, the gopher</h2>
                                <p class="presentation-text">No better pet knows more about Google Go!</p>
                            </div>
                        </div>
                        <!-- End Presentation Container -->
                    </div>
                </div>
                <!-- End Slide 2 -->
            </div>
            <!-- End Swipe Wrap -->
        </div>
    </div>
    <div class="arrow-down-turquoise"></div>
    <!-- End Works -->

</section>

{% include '_footer.twig' %}
