{% include '_header.twig' %}

<div class="colored-stripe white">
    <div class="grid-container paragraphs-container">
        <div class="grid-30">
            <p class="paragraph-icon"><i class="icon-user"></i></p>
            <h3 class="paragraph-title">{{ title }}</h3>
            <p class="paragraph-text">@TODO: a profile photo should be here.</p>
        </div>
        <div class="grid-65 push-5">
            {% include '_messages.twig' %}

            <div class="grid-100">
                <p>Username: {{ username }}</p>
                <p>Name:</p>
                <p>Surname:</p>
                <p>E-mail: <a href="mailto:{{ email }}">{{ email }}</a></p>
                <p>Website:</p>
                <p>Phone:</p>
            </div>
        </div>
    </div>
</div>

{% include '_footer.twig' %}
